* {
  font-family: 'Open Sans', sans-serif;
  font-weight: 700;
}

body {
  padding-bottom: 20px;
  height: 100%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.logo > img {
  width: 80px;
  height: 80px;
  padding: 10px;
}

header > .button {
  padding: 30px;
}

.hero-section {
  background-image: url("../image/heroImage.jpg");
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  font-size: 30px;
  margin: auto;
  text-align: left;
}

.title > h1 {
  margin-bottom: 0;
}

.description {
  margin: auto;
  font-size: 14px;
  text-align: left;
  font-weight: normal;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.icons > ul > li {
  margin-left: 20px;
  margin-top: 5px;
}

.icons > ul > li:hover { color: #7f8cff; }

.social {
  color: #7f8cff;
}
