* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f7f7f9;
  padding: 0;
  margin: 0;
}

main {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.logo > h1 {
  color: #6070ff;
  font-size: 18px;
  font-weight: bold;
}

header > .button {
  padding: 15px;
  color: #6070ff;
}

.section1 {
  background-color: white;
  border-bottom-left-radius: 7rem;
  padding: 80px 5%;
}

.hero-section {
  background-image: url("../image/heroImage.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: left;
  font-weight: bold;
}

.title > h1 {
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 0;
  color: #172b4d;
}

.description {
  margin: auto;
  font-size: 16px;
  text-align: left;
  font-weight: regular;
  color: #344563;
}

.icons > ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.icons > ul > li > a {
  margin-right: 20px;
  margin-top: 5px;
  color: #505f79;
  height: 20px;
  width: 20px;
}

.accordation {
  padding-right: 10px;
}

.icons > ul > li > a:hover { color: #7f8cff; }

.social > p {
  color: #7f8cff;
  font-weight: medium;
  font-size: 16px;
}

.section2 {
  display: grid;
  grid-template-columns: auto;
  padding: 5%;
}

.my-work {
  display: flex;
  flex-direction: column;
  border: 1px solid #DFE1E6;
  border-radius: 15px;
  background-color: white;
  padding: 5%;
  margin-top: 80px;
}

.my-work img {
  margin-bottom: 40px;
}

.my-work h2 {
  margin: 0;
  color: #172B4D;
  font-size: 32px;
  font-weight: bold;
}

.my-work p {
  margin: 0;
  color: #344563;
}

.position-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
}


.position-container span{
  color: #344563;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 14px;
}

.position-container ul {
  display: flex;
  justify-content: space-around;
  width: 100%;
  /* border: 1px solid black; */
}

.position-container li {
  margin-right: 12px;
  font-size: 13px;
  color: #7A869A;
  font-weight: bold;
}

.tech {
  display: flex;
  justify-content: flex-start;
}

.tech li{
  display: inline-block;
  color: #6070FF;
  background: #EBEBFF;
  border-radius: 8px;
  padding: 4px 12px;
  margin-right: 10px;
  font-size: 12px;
}

.tech li:nth-child(1){
  margin-left: -40px;
}

.my-work a {
  text-decoration: none;
  color: #396DF2;
  border: 1px solid #6070FF;
  border-radius: 8px;
  width: 120px;
  padding: 12px;
  margin-top: 10px;
  text-align: center;
}

.my-work a:hover {
  color: white;
  background-color: #396df2;;
}

.accordion {
  margin: 60px 0;
}

.accordion-item {
  display: block;
  margin-bottom: 50px;
  border-bottom: 1px solid #505f79
}

.mother-accordion {
  padding: 0;
  margin: 0;
}

.mother-accordion li{
  list-style-type: none;
}

.mother-accordion h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.child-accordion {
  margin: 0;
  padding: 0;
}

.child-accordion li {
  background-color: #f7f7f9;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  padding: 10px;
  border-radius: 8px;
}

.child-accordion div {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.child-accordion img {
  margin-right: 20px;
}

.child-accordion span {
  color: #253858;
  font-weight: bold;
}



.get-resume > button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #6070ff;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  display: flex;
}

.section3 {
  background-color: white;
  border-top-right-radius: 7rem;
  margin-top: 20px;
  padding: 20px 5%;
}

.section3 > .about {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.section3 > .about > h1 {
  font-size: 40px;
  font-weight: extrabold;
  color: #172b4d;
  margin: 0;
}

.section3 > .about > p {
  padding: 20;
}

.section4 {
  background-color: white;
  width: 100%;
}

.contact-us {
  background-color: #6070ff;
  border-top-left-radius: 7rem;
  padding-left: 0;
  padding-left: 10px;
  background-image: url("../image/contact-us.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
  padding-bottom: 20px;
}

.contact-header > .c-header {
  font-size: 40px;
  font-weight: bold;
  padding-top: 100px;
  color: white;
  text-align: center;
  margin: 0;
}

.contact-header > .description > .c-descrp {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

.form > input {
  border-radius: 8px;
  width: 90%;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  padding:10px;
  text-align: left;
  font-size: 20px;
  border: none;
  margin-bottom: 15px;
}

.form > .input-message {
  border-radius: 8px;
  width: 90%;
  padding:10px;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  font-size: 15px;
  text-align: left;
  font-weight: normal;
  border: none;
  margin-bottom: 15px;
}

.form > .submit-button {
  border-radius: 8px;
  width: 9rem;
  margin-left: 10px;
  height: 50px;
  background-color: white;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 17px;
  color: #6070ff;
}

::-webkit-scrollbar {
  width: 10px;
  height: 10px;
  display: none;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: #6070ff;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #3847d4;
}
