* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f7f7f9;
}

main {
  margin: 0;
}

::-webkit-scrollbar {
  width: 6px;
  height: 10px;
  display: none;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.logo > h1 {
  color: #6070ff;
  font-size: 18px;
  font-weight: bold;
}

header > .button {
  padding: 15px;
  color: #6070ff;
}

.section1 {
  height: 550px;
  background-color: white;
  border-bottom-left-radius: 7rem;
  padding-left: 25px;
  padding-right: 25px;
}

.hero-section {
  background-image: url("../image/heroImage.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: left;
  font-weight: bold;
}

.title > h1 {
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 0;
}

.description {
  margin: auto;
  font-size: 16px;
  text-align: left;
  font-weight: regular;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.icons > ul > li {
  margin-left: 20px;
  margin-top: 5px;
  color: #505f79;
  height: 20px;
  width: 20px;
}

.icons > ul > li > a:hover { color: #7f8cff; }

.social {
  color: #7f8cff;
  font-weight: medium;
  font-size: 16px;
}

.section2 {
  margin-top: 200px;
}
