* {
  font-family: 'Poppins', sans-serif;
}

body {
  background-color: #f7f7f9;
}

main {
  margin: 0;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: white;
}

.logo {
  width: 80px;
  height: 80px;
  padding: 10px;
}

.logo > h1 {
  color: #6070ff;
  font-size: 18px;
  font-weight: bold;
}

header > .button {
  padding: 15px;
  color: #6070ff;
}

.section1 {
  height: 550px;
  background-color: white;
  border-bottom-left-radius: 7rem;
  padding-left: 25px;
  padding-right: 25px;
}

.hero-section {
  background-image: url("../image/heroImage.jpg");
  background-size: cover;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.title {
  text-align: left;
  font-weight: bold;
}

.title > h1 {
  font-size: 40px;
  margin-top: 12px;
  margin-bottom: 0;
  color: #172b4d;
}

.description {
  margin: auto;
  font-size: 16px;
  text-align: left;
  font-weight: regular;
  color: #344563;
}

ul {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: flex-start;
  margin: 0;
  padding: 0;
}

.icons > ul > li > a {
  margin-left: 20px;
  margin-top: 5px;
  color: #505f79;
  height: 20px;
  width: 20px;
}

.icons > ul > li > a:hover { color: #7f8cff; }

.social > p {
  color: #7f8cff;
  font-weight: medium;
  font-size: 16px;
}

.section2 {
  display: grid;
  grid-template-columns: auto;
  margin-top: 30px;
  text-align: center;
  margin-left: 20px;
  margin-right: 20px;
}

.my-work {
  width: 100%;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  flex-wrap: wrap;
  background-color: white;
  padding: 10px;
  margin-top: 20px;
}

.screenshot {
  width: 100%;
  text-align: center;
  border-radius: 8px;
}

.screenshot > img {
  width: 100%;
  height: 100%;
  border-radius: 10px;
  display: flex;
}

.my-work > .title > h1 {
  font-size: 32px;
  font-weight: bold;
  color: #172b4d;
}

.sub-headings > ul {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.sub-headings > ul > .bold {
  font-size: 13px;
  color: #344563;
  text-transform: uppercase;
  marker: none;
}

.sub-headings > ul > .marked {
  font-size: 13px;
  color: #7a869a;
  list-style-type: disc;
}

.section2 > .description {
  font-size: 15px;
  font-weight: regular;
}

.tags {
  display: flex;
  flex-direction: row;
  list-style: none;
  justify-content: flex-start;
}

.mother-ul > li {
  margin-top: 30px;
  margin-bottom: 30px;
  border-bottom: solid 1px rgb(221, 221, 221);
}

.mother-ul > li > .title {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
}

.mother-ul > li > .child-ul {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 30px;
  font-weight: bold;
  background: #f7f7f9;
  border-radius: 8px;
  margin-bottom: 10px;
}

.mother-ul > li > .child-ul > li > .single-elemnt {
  display: flex;
  padding: 15px;
}

.mother-ul > li > .child-ul > li > .single-elemnt > h2 {
  font-size: 15px;
  margin-left: 20px;
  font-weight: normal;
  padding-top: 8px;
}

.mother-ul > li > .child-ul > li > .single-elemnt > img {
  border-radius: 40px;
  width: 60px;
  height: 60px;
}

.tags > ul > li {
  color: #6070ff;
  margin-left: 10px;
  background-color: #ebebff;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 5px;
}

.seeproject > button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #6070ff;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  display: flex;
}

.get-resume > button {
  padding-top: 10px;
  padding-bottom: 10px;
  padding-left: 20px;
  padding-right: 20px;
  border-color: #6070ff;
  margin-top: 20px;
  background-color: white;
  border-radius: 8px;
  display: flex;
}

.section3 {
  background-color: white;
  border-top-right-radius: 7rem;
  margin-top: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  padding-left: 30px;
  padding-right: 10px;
}

.section3 > .about {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.section3 > .about > h1 {
  font-size: 40px;
  font-weight: extrabold;
  color: #172b4d;
  margin: 0;
}

.section3 > .about > p {
  padding: 20;
}

.mother-ul {
  font-size: 30px;
  font-weight: bold;
  display: contents;
}

.section4 {
  background-color: #6070ff;
  border-top-left-radius: 7rem;
  padding-bottom: 250px;
  margin-left: -39px;
  margin-right: -8px;
  margin-top: 50px;
  margin-bottom: -60px;
}

.contact-us {
  margin-top: 30px;
  padding-left: 0;
  padding-left: 10px;
  background-image: url("../image/contact-us.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: right;
}

.contact-header > .c-header {
  font-size: 40px;
  font-weight: bold;
  padding-top: 100px;
  color: white;
  text-align: center;
  margin: 0;
}

.contact-header > .description > .c-descrp {
  color: white;
  text-align: center;
  font-size: 20px;
  padding: 20px;
}

form {
  display: flex;
  flex-direction: column;
}

.form > input {
  border-radius: 8px;
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
  height: 40px;
  text-align: left;
  font-size: 20px;
  border: none;
  margin-bottom: 15px;
  padding-left: 15px;
}

.form > .input-message {
  border-radius: 8px;
  width: 85%;
  margin-left: 10px;
  margin-right: 10px;
  height: 100px;
  text-align: left;
  font-size: 20px;
  border: none;
  margin-bottom: 15px;
  padding-left: 15px;
}

.form > .textarea ::placeholder {
  color: #6c6e7e;
}

.form > .submit-button {
  border-radius: 8px;
  width: 9rem;
  margin-left: 10px;
  height: 50px;
  background-color: white;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 17px;
  color: #6070ff;
}

.form > .submit-button:hover {
  border-radius: 8px;
  width: 9rem;
  margin-left: 10px;
  height: 50px;
  background-color: #6070ff;
  margin-bottom: 15px;
  font-weight: normal;
  font-size: 17px;
  color: white;
  border: 1px solid white;
}

::-webkit-scrollbar {
  height: 10px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px #6070ff;
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: #2f3a9e;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #262f85;
}
